<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />

    <title>{% block title %}Votenmasse{% endblock %}</title>

    {% block stylesheets %}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="content">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      <footer class = "row">
		<div align = "center" class = "well">
			<ul class="nav nav-pills nav-stacked">
				<li>
					<form action="{{ path('votenmasse_votenmasse_a_propos') }}" method="post">
						<input type = "submit" value = "A propos" style = "margin-right: 20px" class="btn btn-small" />
					</form>
					<form action="{{ path('votenmasse_votenmasse_developpeurs') }}" method="post">
						<input type = "submit" value = "Développeurs" style = "margin-right: 20px" class="btn btn-small" />
					</form>
					<form action="{{ path('votenmasse_votenmasse_aide') }}" method="post">
						<input type = "submit" value = "Aide" style = "margin-right: 20px" class="btn btn-small" />
					</form>
				</li>
			</ul>
			<p><h5><i style = "margin-right: 10px" class="icon-envelope"></i>Votenmasse<i style = "margin-left: 10px" class="icon-envelope"></i></h5></p><br>
			<p><h6><a href="{{ path('votenmasse_votenmasse_administration') }}">Espace réservé à l'administration</a></h6></p>
		</div>
	  </footer>
    </div>
  </body>
  
  {% block javasripts %}
	 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	 
	  <script>
		  $(function() {
			$( "#accordion" ).accordion({
			  heightStyle: "content",
			  collapsible: true,
			  active: false
			});
		  });
	  </script>
	  <script>
		  $(function() {
			$( "#radio" ).buttonset();
		  });
	  </script>
	  
	  <script> 
		function chgpage1() { 
			location.href = "{{ path('votenmasse_votenmasse_moderation', { 'etat': 'Ouvertes' }) }}"; exit; 
		} 
		function chgpage2() { 
			location.href = "{{ path('votenmasse_votenmasse_moderation', { 'etat': 'Sous modération' }) }}"; exit; 
		} 
		function chgpage3() { 
			location.href = "{{ path('votenmasse_votenmasse_moderation', { 'etat': 'Fermées' }) }}"; exit; 
		} 
	  </script>   
  {% endblock %}
</html>