{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Administration - Gestion
{% endblock %}

{% block votenmasse_body %}

	{% if connecte is not defined %}
		{% render "VotenmasseVotenmasseBundle:Votenmasse:index" %}
	{% endif %}	
	
	<div id="accordion">
	  <h3>Liste des utilisateurs</h3>
	  <div>
		<p>
		   <table class="table">
				<tr>
					<td>
						<div class="well">
							{% if utilisateurs is not null %}
								{% for utilisateur in utilisateurs %}
									Login : {{ utilisateur.login }} <br>
									Nom : {{ utilisateur.nom }} <br>
									Prénom : {{ utilisateur.prenom }} <br>
									Mail : {{ utilisateur.mail }} <br><br><br>
								{% endfor %}
							{% endif %}
						</div>
					</td>
				</tr>
			</table>
		</p>
	  </div>
	  <h3>Liste des groupes</h3>
	  <div>
		<p>
			<table class="table">
				<tr>
					<td>
						<div class="well">
							{% if groupes is not null %}
								{% for groupe in groupes %}
									Nom : {{ groupe.nom }} <br>
									Description : {{ groupe.description }} <br>
									Administrateur : {{ groupe.administrateur.login }} <br>
									Etat : {{ groupe.etat }} <br><br><br><br>
								{% endfor %}
							{% endif %}
						</div>
					</td>
				</tr>  
			</table>
		</p>
	  </div>
	  <h3>Liste des votes</h3>
	  <div>
		<p>
			<table class="table">
				<tr>
					<td>
						<div class="well">
							{% if votes is not null %}
								{% set cpt = 0 %}
								{% for vote in votes %}
									Nom : {{ vote.nom }} <br>
									Texte : {{ vote.texte }} <br>
									Choix 1 : {{ vote.choix1 }} <br>
									Choix 2 : {{ vote.choix2 }} <br>
									{% if vote.choix3 is not null %}
										Choix 3 : {{ vote.choix3 }} <br>
									{% endif %}
									{% if vote.choix4 is not null %}
										Choix 4 : {{ vote.choix4 }} <br>
									{% endif %}
									{% if vote.choix5 is not null %}
										Choix 5 : {{ vote.choix5 }} <br>
									{% endif %}
									{% if vote.choix6 is not null %}
										Choix 6 : {{ vote.choix6 }} <br>
									{% endif %}
									{% if vote.choix7 is not null %}
										Choix 7 : {{ vote.choix7 }} <br>
									{% endif %}
									{% if vote.choix8 is not null %}
										Choix 8 : {{ vote.choix8 }} <br>
									{% endif %}
									{% if vote.choix9 is not null %}
										Choix 9 : {{ vote.choix9 }} <br>
									{% endif %}
									{% if vote.choix10 is not null %}
										Choix 10 : {{ vote.choix10 }} <br>
									{% endif %}
									Date de création : {{ vote.dateDeCreation|date("d/m/y") }} <br>
									Date de fin : {{ vote.dateDeFin|date("d/m/y") }} <br>
									Type : {{ vote.type }} <br>
									{% if vote.groupeAssocie is not null %}
									Groupe associé : {{ vote.groupeAssocie.nom }} <br>
									{% endif %}
									Etat : {% if vote.etat is sameas(true) %} En cours {% endif %} {% if vote.etat is sameas(false) %} Terminé {% endif %} <br>
									Créateur : {{ vote_createurs[cpt] }} <br><br><br>
									{% set cpt = cpt + 1 %}
								{% endfor %}
							{% endif %}
						</div>
					</td>
				</tr>
			</table>
		</p>
	  </div>
	  <h3>Gestion des inscriptions</h3>
	  <div>
		<p>
			<table class="table">
				<tr>
					<td>
						<div class="well">
							Gestion des inscriptions ici
						</div>
					</td>
				</tr>
			</table>
		</p>
	  </div>
	</div>

{% endblock %}