{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Groupe
{% endblock %}

{% block votenmasse_body %}
	<table class="table">
		<tr>
	 {% if utilisateur is defined %}
				{% if utilisateur is not null %}
					<tr>
						<td rowspan = "2">
							<div class="well">
								<div id="accordion">
								  <h3>Liste des membres du groupe</h3>
								  <div>
									{% if liste_membres is defined %}
										{% if liste_membres is not null %}
										<table>
										<tr>
											<td>
												<center><b>Nom</b></center>
											</td>
											<td>
												<center><b>Prenomom</b></center>
											</td>
											<td>
												<center><b>Login</b></center>
											</td>
											<td>
												<center><b>Sexe</b></center>
											</td>
										</tr>
										{% for membre in liste_membres %}
										<tr class = "liste_votes" onclick="">
											<td>
												<center>{{ membre.nom }}</center>
											</td>
											<td>
												<center>{{ membre.prenom }} </center>
											</td>
											<td>
											<center>{{ membre.login }}</center>
											  </td>
											  <td>
												<center>{{ membre.sexe }}</center>
											  </td>
											</a>
										</tr>
								{% endfor %}
								</table>
								{% endif %}
								{% endif %}

								</div>
								  <h3>Liste des votes associés</h3>
								  <div>
									{% if liste_votes_associe is defined %}
						{% if liste_votes_associe is not null %}
							<table>
								<tr>
									<td>
										<center><b>Type</b></center>
									</td>
									<td>
										<center><b>Nom</b></center>
									</td>
									<td>
										<center><b>Description</b></center>
									</td>
									<td>
										<center><b>Date de création</b></center>
									</td>
									<td>
										<center><b>Date de fin</b></center>
									</td>
									<td>
										<center><b>Groupe associé</b></center>
									</td>
									<td>
										<center><b>Etat</b></center>
									</td>
									<td>
										<center><b>Créateur</b></center>
									</td>
								</tr>
								{% set cpt = 0 %}
								{% for vote in liste_votes_associe %}
									<tr class = "liste_votes" onclick="document.location.href='../vote/{{ vote.id }}'">
											<td>
												{% if vote.type is sameas('Vote public') %}
													<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
												{% endif %} 
												{% if vote.type is sameas('Vote réservé aux inscrits') %}
													<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
												{% endif %}
												{% if vote.type is sameas('Vote privé') %}
													<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
												{% endif %}
											</td>
											<td>
												<center>{{ vote.nom }}</center>
											</td>
											<td>
												<center>{{ vote.texte }} </center>
											</td>
											<td>
												<center>{{ vote.dateDeCreation|date("d/m/y") }}</center>
											</td>
											<td>
												<center>{{ vote.dateDeFin|date("d/m/y") }}</center>
											</td>
											<td>
												{% if vote.groupeAssocie is not null %}
													<center>{{ vote.groupeAssocie }}</center>
												{% endif %}
												{% if vote.groupeAssocie is null %}
													<center>Aucun</center>
												{% endif %}
											</td>
											<td>
												<center>{% if vote.etat is sameas(true) %} En cours {% endif %} {% if vote.etat is sameas(false) %} Terminé {% endif %}</center>
											</td>
											<td>
												<center>{{ vote_createurs[cpt] }}</center>
											</td>
											{% set cpt = cpt + 1 %}
										</a>
									</tr>
								{% endfor %}
							</table>
						{% endif %}
					{% endif %}
								  
								  
								</div>
							</div>
						</td>
					</tr>
				{% endif %}
			{% endif %}
		</tr>
		<tr>
			<td colspan = "2">
				<div class="well">
						<img src = "{{ asset('img/pub.png') }}" alt = "Public" /> Ce logo signifie que le vote ou le groupe est public (accessible à tous) <br>
						<img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /> Ce logo signifie que le vote ou le groupe est réservé aux inscrits <br>
						<img src = "{{ asset('img/pri.png') }}" alt = "Privé" /> Ce logo signifie que le vote ou le groupe est privé (vous devez être membre du groupe)
				</div>
			</td>
		</tr>
	</table>

{% endblock %}