{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Vote {{ vote_id }}
{% endblock %}

{% block votenmasse_body %}

	{% if form is defined %}
		<table class="table">
			<legend><b>Voter</b></legend>
			<tr>
				<td>
					<div class="well">
						<center>
							<h3><b>{{ vote_nom }}</b></h3><br>
						</center>
						<form id = "affichage_vote" action="{{ path('votenmasse_votenmasse_vote') }}" method="post" {{ form_enctype(form) }}>
							<center>
								<h4>Description :<br></h4>{{ vote_texte }}<br><br>
								{% if groupe_associe is not null %}
									<h5 align = "center">{{ groupe_associe.nom }}</h5><br>
								{% endif %}
								{% if nb is defined %}
									<font color = "red" style = "font-size: small;">Classez par ordre préférentiel les différentes propositions (de 1 à {{ nb }})</font><br><br>
								{% endif %}
							</center>
							<table>
								<tr>
									<td>
										{{ form_errors(form.choix1) }}
										{{ form_widget(form.choix1) }}
									</td>
									<td>
										{{ choix1 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</td>
								</tr>
								<tr>
									<td>
										{{ form_errors(form.choix2) }}
										{{ form_widget(form.choix2) }}
									</td>
									<td>
										{{ choix2 }}
									</td>
								</tr>
								{% if choix3 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix3) }}
											{{ form_widget(form.choix3) }}
										</td>
										<td>
											{{ choix3 }}
										</td>
									</tr>
								{% endif %}
								{% if choix4 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix4) }}
											{{ form_widget(form.choix4) }}
										</td>
										<td>
											{{ choix4 }}
										</td>
									</tr>
								{% endif %}
								{% if choix5 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix5) }}
											{{ form_widget(form.choix5) }}
										</td>
										<td>
											{{ choix5 }}
										</td>
									</tr>
								{% endif %}
								{% if choix6 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix6) }}
											{{ form_widget(form.choix6) }}
										</td>
										<td>
											{{ choix6 }}
										</td>
									</tr>
								{% endif %}
								{% if choix7 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix7) }}
											{{ form_widget(form.choix7) }}
										</td>
										<td>
											{{ choix7 }}
										</td>
									</tr>
								{% endif %}
								{% if choix8 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix8) }}
											{{ form_widget(form.choix8) }}
										</td>
										<td>
											{{ choix8 }}
										</td>
									</tr>
								{% endif %}
								{% if choix9 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix9) }}
											{{ form_widget(form.choix9) }}
										</td>
										<td>
											{{ choix9 }}
										</td>
									</tr>
								{% endif %}
								{% if choix10 is not null %}
									<tr>
										<td>
											{{ form_errors(form.choix10) }}
											{{ form_widget(form.choix10) }}
										</td>
										<td>
											{{ choix10 }}
										</td>
									</tr>
								{% endif %}
							</table>
							<center>
								<button class="btn btn-primary btn-mini" type="submit">Valider <i class="icon-white icon-ok-sign"></i> </button>
							</center>
						</form>
					</div>
				</td>
			</tr>
		</table>
	{% endif %}
	{% if form is not defined %}
		<table class="table">
			<legend><b>Résultat</b></legend>
			<tr>
				<td>
					<div class="well">
						<center>
							<h3><b>{{ vote_nom }}</b></h3><br>
						</center>
						<center>
							<h4>Description :<br></h4>{{ vote_texte }}<br><br>
							{% if groupe_associe is not null %}
								<h5 align = "center">{{ groupe_associe.nom }}</h5><br>
							{% endif %}
							<font color = "red">Résultat par ordre préférentiel des différentes propositions</font><br><br>
						</center>
						{% if premier is defined %}
							<center>
								<table>
									<tr>
										<td>
											1 -
										</td>
										<td>
											{{ premier }}
										</td>
									</tr>
									{% if second is defined %}
										<tr>
											<td>
												2 -
											</td>
											<td>
												{{ second }}
											</td>
										</tr>
									{% endif %}
									{% if troisieme is defined %}
										<tr>
											<td>
												3 -
											</td>
											<td>
												{{ troisieme }}
											</td>
										</tr>
									{% endif %}
									{% if quatrieme is defined %}
										<tr>
											<td>
												4 -
											</td>
											<td>
												{{ quatrieme }}
											</td>
										</tr>
									{% endif %}
									{% if cinquieme is defined %}
										<tr>
											<td>
												5 -
											</td>
											<td>
												{{ cinquieme }}
											</td>
										</tr>
									{% endif %}
									{% if sixieme is defined %}
										<tr>
											<td>
												6 -
											</td>
											<td>
												{{ sixieme }}
											</td>
										</tr>
									{% endif %}
									{% if septieme is defined %}
										<tr>
											<td>
												7 -
											</td>
											<td>
												{{ septieme }}
											</td>
										</tr>
									{% endif %}
									{% if huitieme is defined %}
										<tr>
											<td>
												8 -
											</td>
											<td>
												{{ huitieme }}
											</td>
										</tr>
									{% endif %}
									{% if neuvieme is defined %}
										<tr>
											<td>
												9 -
											</td>
											<td>
												{{ neuvieme }}
											</td>
										</tr>
									{% endif %}
									{% if dixieme is defined %}
										<tr>
											<td>
												10 -
											</td>
											<td>
												{{ dixieme }}
											</td>
										</tr>
									{% endif %}
								</table>
							</center>
						{% endif %}
						{% if premier is not defined %}
							<center>Aucun avis n'a été donné pour ce vote</center>
						{% endif %}
						<br><br><center>
							<a href='../commentaire/{{ vote_id }}'>Voir les commentaires pour ce vote </a>
						</center>
					</div>
				</td>
			</tr>
		</table>
	{% endif %}

{% endblock %}