{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Groupe - {{ groupe_id }}
{% endblock %}

{% block votenmasse_body %}
	<table class="table">
		{% if groupe is defined %}
			<legend><b>Groupe {{ groupe_id }} : {{ groupe.nom }}</b></legend>
		{% endif %}
		{% if groupe is not defined %}
			<legend><b>Le groupe {{ message }} n'existe pas</b></legend>
		{% endif %}
		<tr>
			{% if message is defined %}
				<div class = "well">
					<center>
						Il n'y a pas de groupe {{ message }}<br><br>
						<a href='../liste/groupes'>Retour à la liste des groupes</a>
					</center>
				</div>
			{% endif %}
			{% if message is not defined %}
				<tr>
					<td rowspan = "2">
						<div class="well">
							<div id="accordion">
								<h3>Liste des membres du groupe</h3>
								<div>
									<table align = "center">
										<tr>
											<td>
												<center><b>Nom</b></center>
											</td>
											<td>
												<center><b>Prénom</b></center>
											</td>
											<td>
												<center><b>Login</b></center>
											</td>
											<td>
												<center><b>Statut</b></center>
											</td>
											{% if valide is defined %}
												{% if valide is sameas(true) %}
													{% if moderateur is sameas(true) or administrateur is sameas(true) %}
														<td>
															<center><b>Bannir</b></center>
														</td>
													{% endif %}
													{% if administrateur is sameas(true) %}
														<td>
															<center><b>Privilégier</b></center>
														</td>
													{% endif %}
												{% endif %}
											{% endif %}
										</tr>
										<tr>
											<td>
												<center>{{ administrateur_groupe_infos.nom }}</center>
											</td>
											<td>
												<center>{{ administrateur_groupe_infos.prenom }}</center>
											</td>
											<td>
												<center>{{ administrateur_groupe_infos.login }}</center>
											</td>
											<td>
												<center>Administrateur</center>
											</td>
											<td>
											
											</td>
											<td>
											
											</td>
										</tr>
										{% for membre in membres %}
											<tr>
												<td>
													<center>{{ membre.utilisateur.nom }}</center>
												</td>
												<td>
													<center>{{ membre.utilisateur.prenom }} </center>
												</td>
												<td>
													<center>{{ membre.utilisateur.login }}</center>
												</td>
												<td>
													<center>
														{% if membre.moderateur is sameas(false) %}
															Membre
														{% endif %}
														{% if membre.moderateur is sameas(true) %}
															Modérateur
														{% endif %}
													</center>
												</td>
												{% if valide is defined %}
													{% if valide is sameas(true) %}
														{% if administrateur is sameas(true) %}
															<td>
																<center>
																	<form action="{{ path('votenmasse_votenmasse_groupe_supprimer_utilisateur') }}" method="post">
																		<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																		<input type = "hidden" name = "membre_id" value = {{ membre.utilisateur.id }} />
																		<button class="btn btn-danger btn-mini" type="submit"><i class="icon-white icon-remove"></i> </button>
																	</form>
																</center>
															</td>
														{% endif %}
														{% if moderateur is sameas(true) %}
															{% if utilisateur is not sameas(membre.utilisateur.login) %}
																<td>
																	<center>
																		<form action="{{ path('votenmasse_votenmasse_groupe_supprimer_utilisateur') }}" method="post">
																			<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																			<input type = "hidden" name = "membre_id" value = {{ membre.utilisateur.id }} />
																			<button class="btn btn-danger btn-mini" type="submit"><i class="icon-white icon-remove"></i> </button>
																		</form>
																	</center>
																</td>
															{% endif %}
														{% endif %}
														{% if administrateur is sameas(true) %}
															{% if membre.moderateur is sameas(false) %}
																<td>
																	<center>
																		<form action="{{ path('votenmasse_votenmasse_groupe_donner_privilege') }}" method="post">
																			<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																			<input type = "hidden" name = "membre_id" value = {{ membre.utilisateur.id }} />
																			<button class="btn btn-success btn-mini" type="submit"><i class="icon-white icon-plus"></i> </button>
																		</form>
																	</center>
																</td>
															{% endif %}
															{% if membre.moderateur is sameas(true) %}
																<td>
																	<center>
																		<form action="{{ path('votenmasse_votenmasse_groupe_supprimer_privilege') }}" method="post">
																			<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																			<input type = "hidden" name = "membre_id" value = {{ membre.utilisateur.id }} />
																			<button class="btn btn-danger btn-mini" type="submit"><i class="icon-white icon-minus"></i> </button>
																		</form>
																	</center>
																</td>
															{% endif %}
														{% endif %}
													{% endif %}
												{% endif %}
											</tr>
										{% endfor %}
									</table>
								</div>
								<h3>Liste des votes associés</h3>
								<div>
									{% if votes_associes is defined %}
										{% if votes_associes is not null %}
											<table>
												<tr>
													<td>
														<center><b>Type</b></center>
													</td>
													<td>
														<center><b>Nom</b></center>
													</td>
													<td>
														<center><b>Description</b></center>
													</td>
													<td>
														<center><b>Date de création</b></center>
													</td>
													<td>
														<center><b>Date de fin</b></center>
													</td>
													<td>
														<center><b>Groupe associé</b></center>
													</td>
													<td>
														<center><b>Etat</b></center>
													</td>
													<td>
														<center><b>Créateur</b></center>
													</td>
													{% if valide is defined %}
														{% if valide is sameas(true) %}
															{% if moderateur is sameas(true) or administrateur is sameas(true) %}
																<td>
																	<center><b>Supprimer</b></center>
																</td>
															{% endif %}
														{% endif %}
													{% endif %}
												</tr>
												{% set cpt = 0 %}
												{% for vote in votes_associes %}
													{% if valide is sameas(true) %}
														<tr class = "liste_votes" onclick="document.location.href='../vote/{{ vote.id }}'">
													{% endif %}
													{% if valide is sameas(false) %}
														<tr>
													{% endif %}
														<td>
															{% if vote.type is sameas('Vote public') %}
																<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
															{% endif %} 
															{% if vote.type is sameas('Vote réservé aux inscrits') %}
																<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
															{% endif %}
															{% if vote.type is sameas('Vote privé') %}
																<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
															{% endif %}
														</td>
														<td>
															<center>{{ vote.nom }}</center>
														</td>
														<td>
															<center>{{ vote.texte }} </center>
														</td>
														<td>
															<center>{{ vote.dateDeCreation|date("d/m/y") }}</center>
														</td>
														<td>
															<center>{{ vote.dateDeFin|date("d/m/y") }}</center>
														</td>
														<td>
															{% if vote.groupeAssocie is not null %}
																<center>{{ vote.groupeAssocie.nom }}</center>
															{% endif %}
															{% if vote.groupeAssocie is null %}
																<center>Aucun</center>
															{% endif %}
														</td>
														<td>
															<center>{% if vote.etat is sameas(true) %} En cours {% endif %} {% if vote.etat is sameas(false) %} Terminé {% endif %}</center>
														</td>
														<td>
															<center>{{ vote_createurs[cpt] }}</center>
														</td>
														{% if valide is defined %}
															{% if valide is sameas(true) %}
																{% if moderateur is sameas(true) or administrateur is sameas(true) %}
																	<td>
																		<center>
																			<form action="{{ path('votenmasse_votenmasse_vote_supprimer') }}" method="post">
																				<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																				<input type = "hidden" name = "vote_id" value = {{ vote.id }} />
																				<button class="btn btn-danger btn-mini" type="submit"><i class="icon-white icon-remove"></i> </button>
																			</form>
																		</center>
																	</td>
																{% endif %}
															{% endif %}
														{% endif %}
														{% set cpt = cpt + 1 %}
													</tr>
												{% endfor %}
											</table>
										{% endif %}
										{% if votes_associes is null %}
											Aucun vote n'est associé au groupe {{ groupe.nom }}
										{% endif %}
									{% endif %}   
									{% if votes_associes is not defined %}
										Aucun vote n'est associé au groupe {{ groupe.nom }}
									{% endif %}
								</div>
								{% if valide is defined %}
									{% if valide is sameas(true) %}
										{% if moderateur is sameas(true) or administrateur is sameas(true) %}
											<h3>Liste des demandes pour rejoindre le groupe</h3>
											{% if demandes is not null %}
												<div>
													<table align = "center">
														<tr>
															<td>
																<center><b>Nom</b></center>
															</td>
															<td>
																<center><b>Prénom</b></center>
															</td>
															<td>
																<center><b>Login</b></center>
															</td>
															<td>
																<center><b>Message</b></center>
															</td>
															<td>
																<center><b>Accepter</b></center>
															</td>
															<td>
																<center><b>Refuser</b></center>
															</td>
														</tr>
														{% for demande in demandes %}
															<tr>
																<td>
																	<center>{{ demande.utilisateur.nom }}</center>
																</td>
																<td>
																	<center>{{ demande.utilisateur.prenom }} </center>
																</td>
																<td>
																	<center>{{ demande.utilisateur.login }}</center>
																</td>
																<td>
																	<center>
																		{{ demande.message }}
																	</center>
																</td>
																<td>
																	<center>
																		<form action="{{ path('votenmasse_votenmasse_groupe_accepter_utilisateur') }}" method="post">
																			<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																			<input type = "hidden" name = "utilisateur_id" value = {{ demande.utilisateur.id }} />
																			<button class="btn btn-success btn-mini" type="submit"><i class="icon-white icon-ok"></i> </button>
																		</form>
																	</center>
																</td>
																<td>
																	<center>
																		<form action="{{ path('votenmasse_votenmasse_groupe_refuser_utilisateur') }}" method="post">
																			<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																			<input type = "hidden" name = "utilisateur_id" value = {{ demande.utilisateur.id }} />
																			<button class="btn btn-danger btn-mini" type="submit"><i class="icon-white icon-remove"></i> </button>
																		</form>
																	</center>
																</td>
															</tr>
														{% endfor %}
													</table>
												</div>
											{% endif %}
											{% if demandes is null %}
												<div>
													Aucune demande pour rejoindre le groupe {{ groupe.nom }}
												</div>
											{% endif %}
											{% if utilisateurs is not null %}
												<h3>Ajouter des utilisateurs au groupe</h3>
												<div>
													<table align = "center">
														<tr>
															<td>
																<center><b>Nom</b></center>
															</td>
															<td>
																<center><b>Prénom</b></center>
															</td>
															<td>
																<center><b>Login</b></center>
															</td>
															<td>
																<center><b>Ajouter</b></center>
															</td>
														</tr>
														{% for utilisateur in utilisateurs %}
															<tr>
																<td>
																	<center>{{ utilisateur.nom }}</center>
																</td>
																<td>
																	<center>{{ utilisateur.prenom }} </center>
																</td>
																<td>
																	<center>{{ utilisateur.login }}</center>
																</td>
																<td>
																	<center>
																		<form action="{{ path('votenmasse_votenmasse_groupe_accepter_utilisateur') }}" method="post">
																			<input type = "hidden" name = "groupe_id" value = {{ groupe_id }} />
																			<input type = "hidden" name = "utilisateur_id" value = {{ utilisateur.id }} />
																			<button class="btn btn-success btn-mini" type="submit"><i class="icon-white icon-ok"></i> </button>
																		</form>
																	</center>
																</td>
															</tr>
														{% endfor %}
													</table>
												</div>
											{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}
							</div>
						</div>
					</td>
				</tr>
			{% endif %}
		</tr>
	</table>
	{% if valide is defined %}	
		<center>
			{% if valide is sameas(true) %}
				{% if membre is sameas(true) %}
					<form action="{{ path('votenmasse_votenmasse_quitter_groupe', { 'groupe_id': groupe_id }) }}" method="post">
						<button class="btn btn-primary btn-mini" type="submit">Quitter le groupe <i class="icon-white icon-ok-sign"></i> </button>
					</form>
				{% endif %}
				{% if membre is sameas(false) and moderateur is sameas(false) and administrateur_groupe_infos.login is not sameas(utilisateur) %}
					<form action="{{ path('votenmasse_votenmasse_quitter_groupe', { 'groupe_id': groupe_id }) }}" method="post">
						<button class="btn btn-primary btn-mini" type="submit">Annuler la demande <i class="icon-white icon-ok-sign"></i> </button>
					</form>
				{% endif %}
				{% if moderateur is sameas(true) %}
					<form action="{{ path('votenmasse_votenmasse_quitter_groupe', { 'groupe_id': groupe_id }) }}" method="post">
						<button class="btn btn-primary btn-mini" type="submit">Quitter le groupe <i class="icon-white icon-ok-sign"></i> </button>
					</form>
				{% endif %}
				{% if administrateur_groupe_infos.login is sameas(utilisateur)%}
					<form action="{{ path('votenmasse_votenmasse_supprimer_groupe', { 'groupe_id': groupe_id }) }}" method="post">
						<button class="btn btn-primary btn-mini" type="submit">Supprimer le groupe <i class="icon-white icon-ok-sign"></i> </button>
					</form>
				{% endif %}
			{% endif %}
			{% if valide is sameas(false) %}
				<form action="{{ path('votenmasse_votenmasse_rejoindre_groupe', { 'groupe_id': groupe_id }) }}" method="post">
					Justifiez votre demande : <br>
					<textarea name = "message_rejoindre_groupe" rows="3" cols="20">
					</textarea><br><br>
					<button class="btn btn-primary btn-mini" type="submit">Effectuer une demande pour rejoindre le groupe <i class="icon-white icon-ok-sign"></i> </button>
				</form>
			{% endif %}
		</center>
	{% endif %}
{% endblock %}