{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Creation - Groupe
{% endblock %}

{% block votenmasse_body %}

	{% if erreur is defined %}
		<h5 style="color:red">{{ erreur }}</h5>
	{% endif %}

	<table class="table">
		<legend><b>Créez votre groupe</b></legend>
		<tr>
			<td>
				<div class="well">
					<form method="post" class="creation_groupe" {{ form_enctype(form) }}>
						{{ form_label(form.nom) }}
						{{ form_errors(form.nom) }}
						{{ form_widget(form.nom) }}
						{{ form_label(form.description) }}
						{{ form_errors(form.description) }}
						{{ form_widget(form.description) }}
				</div>
			</td>
			<td>
				<div class="well">
					{{ form_label(form.etat) }}
					{{ form_errors(form.etat) }}
					{{ form_widget(form.etat) }}
				</div>
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				<div class="well">
					{% if form.utilisateurs is defined %}
						{{ form_label(form.utilisateurs) }}
						{{ form_errors(form.utilisateurs) }}
						{{ form_widget(form.utilisateurs) }}
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
	<input type="submit" class="btn btn-primary" id="form_validatation_vote" value="Créer le groupe" />
	</form>

{% endblock %}