{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Accueil 
{% endblock %}

{% block votenmasse_body %}
	{% if erreur is defined %}
		<h5 style="color:red">{{ erreur }}</h5>
	{% endif %}
	{% if inscription_valide is defined %}
		{% if inscription_valide is not null %}
			<h5 style="color:red">{{ inscription_valide }}</h5>
		{% endif %}
	{% endif %}
	<table class="table">
		<tr>
		
			{% if utilisateur is defined %}
				{% if utilisateur is not null %}
					<tr>
						<td colspan = "2">
							<div class="well">
								<ul class="nav nav-pills nav-stacked">
									<li>
										<form style = "margin-left: 150px;" action="{{ path('votenmasse_votenmasse_creation_vote') }}" method="get">
											<input type = "submit" value = "Créer un nouveau vote" style = "margin-right: 5px; color: lightgreen;" class="btn btn-inverse btn-large">
										</form>
										<form style = "margin-left: 150px;" action="{{ path('votenmasse_votenmasse_creation_groupe') }}" method="get">
											<input type = "submit" value = "Créer un nouveau groupe" style = "margin-right: 5px; color: lightgreen;" class="btn btn-inverse btn-large">
										</form>
									</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td rowspan = "2">
							<div class="well">
								<div id="accordion">
								  <h3>Groupes</h3>
								  <div>
									{% if groupes is defined %}
										{% if groupes is not null %}
											<table>
												<tr>
													<td>
														<center><b>Type</b></center>
													</td>
													<td>
														<center><b>Nom</b></center>
													</td>
													<td>
														<center><b>Description</b></center>
													</td>
													<td>
														<center><b>Administrateur</b></center>
													</td>
													<td>
														<center><b>Accepté</b></center>
													</td>
												</tr>
												{% set cpt2 = 0 %}
												{% for groupe in groupes %}
													{% if groupe is not null %}
														<tr class = "liste_groupes" onclick="document.location.href='groupe/{{ groupe.id }}'">
															<td>
																{% if groupe.etat is sameas('Groupe public') %}
																	<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
																{% endif %} 
																{% if groupe.etat is sameas('Groupe réservé aux inscrits') %}
																	<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
																{% endif %}
																{% if groupe.etat is sameas('Groupe privé') %}
																	<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
																{% endif %}
															</td>
															<td>
																<center>{{ groupe.nom }}</center>
															</td>
															<td>
																<center>{{ groupe.description }} </center>
															</td>
															<td>
																<center>{{ groupe.administrateur.login }}</center>
															</td>
															<td>
																{% if acceptes[cpt2] is sameas(true) %}
																	<center>Oui</center>
																{% endif %}
																{% if acceptes[cpt2] is sameas(false) %}
																	<center>En attente</center>
																{% endif %}
															</td>
															{% set cpt2 = cpt2 + 1 %}
														</tr>
													{% endif %}
												{% endfor %}
											</table>
										{% endif %}
										{% if groupes is null %}
											Aucun groupe
										{% endif %}
									{% endif %}
									{% if groupes is not defined %}
										Aucun groupe
									{% endif %}
								</div>
								<h3>Votes</h3>
								<div>
									{% if votes is defined %}
										{% if votes is not null %}
											<table>
												<tr>
													<td>
														<center><b>Type</b></center>
													</td>
													<td>
														<center><b>Nom</b></center>
													</td>
													<td>
														<center><b>Description</b></center>
													</td>
													<td>
														<center><b>Date de fin</b></center>
													</td>
													<td>
														<center><b>Groupe associé</b></center>
													</td>
													<td>
														<center><b>Etat</b></center>
													</td>
													<td>
														<center><b>Créateur</b></center>
													</td>
												</tr>
												{% set cpt = 0 %}
												{% for vote in votes %}
													<tr class = "liste_votes" onclick="document.location.href='vote/{{ vote.id }}'">
															<td>
																{% if vote.type is sameas('Vote public') %}
																	<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
																{% endif %} 
																{% if vote.type is sameas('Vote réservé aux inscrits') %}
																	<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
																{% endif %}
																{% if vote.type is sameas('Vote privé') %}
																	<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
																{% endif %}
															</td>
															<td>
																<center>{{ vote.nom }}</center>
															</td>
															<td>
																<center>{{ vote.texte }} </center>
															</td>
															<td>
																<center>{{ vote.dateDeFin|date("d/m/y") }}</center>
															</td>
															<td>
																{% if vote.groupeAssocie is not null %}
																	<center>{{ vote.groupeAssocie }}</center>
																{% endif %}
																{% if vote.groupeAssocie is null %}
																	<center>Aucun</center>
																{% endif %}
															</td>
															<td>
																<center>{% if vote.etat is sameas(true) %} En cours {% endif %} {% if vote.etat is sameas(false) %} Terminé {% endif %}</center>
															</td>
															<td>
																<center>{{ vote_createurs[cpt] }}</center>
															</td>
															{% set cpt = cpt + 1 %}
														</a>
													</tr>
												{% endfor %}
											</table>
										{% endif %}
										{% if votes is null %}
											Aucun vote
										{% endif %}
									{% endif %}
									{% if votes is not defined %}
										Aucun vote
									{% endif %}
								  </div>
								  <h3>Modération de groupes</h3>
								    <div>
									{% if groupes_moderation is defined %}
										{% if groupes_moderation is not null %}
											<table>
												<tr>
													<td>
														<center><b>Type</b></center>
													</td>
													<td>
														<center><b>Nom</b></center>
													</td>
													<td>
														<center><b>Description</b></center>
													</td>
													<td>
														<center><b>Administrateur</b></center>
													</td>
												</tr>
												{% set cpt2 = 0 %}
												{% for groupe_moderation in groupes_moderation %}
													{% if groupe_moderation is not null %}
														<tr class = "liste_groupes" onclick="document.location.href='groupe/{{ groupe_moderation.id }}'">
															<td>
																{% if groupe_moderation.etat is sameas('Groupe public') %}
																	<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
																{% endif %} 
																{% if groupe_moderation.etat is sameas('Groupe réservé aux inscrits') %}
																	<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
																{% endif %}
																{% if groupe_moderation.etat is sameas('Groupe privé') %}
																	<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
																{% endif %}
															</td>
															<td>
																<center>{{ groupe_moderation.nom }}</center>
															</td>
															<td>
																<center>{{ groupe_moderation.description }} </center>
															</td>
															<td>
																<center>{{ groupe_moderation.administrateur.login }}</center>
															</td>
														</tr>
													{% endif %}
												{% endfor %}
											</table>
										{% endif %}
										{% if groupes is null %}
											Aucun groupe
										{% endif %}
									{% endif %}
									{% if groupes is not defined %}
										Aucun groupe
									{% endif %}
								  </div>
								  <h3>Modération de votes</h3>
								   <div>
									{% if votes_moderation is defined %}
										{% if votes_moderation is not null %}
											<table>
												<tr>
													<td>
														<center><b>Type</b></center>
													</td>
													<td>
														<center><b>Nom</b></center>
													</td>
													<td>
														<center><b>Description</b></center>
													</td>
													<td>
														<center><b>Date de fin</b></center>
													</td>
													<td>
														<center><b>Groupe associé</b></center>
													</td>
													<td>
														<center><b>Etat</b></center>
													</td>
													<td>
														<center><b>Créateur</b></center>
													</td>
												</tr>
												{% set cpt = 0 %}
												{% for vote_moderation in votes_moderation %}
													<tr class = "liste_votes" onclick="document.location.href='vote/{{ vote_moderation.id }}'">
															<td>
																{% if vote_moderation.type is sameas('Vote public') %}
																	<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
																{% endif %} 
																{% if vote_moderation.type is sameas('Vote réservé aux inscrits') %}
																	<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
																{% endif %}
																{% if vote_moderation.type is sameas('Vote privé') %}
																	<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
																{% endif %}
															</td>
															<td>
																<center>{{ vote_moderation.nom }}</center>
															</td>
															<td>
																<center>{{ vote_moderation.texte }} </center>
															</td>
															<td>
																<center>{{ vote_moderation.dateDeFin|date("d/m/y") }}</center>
															</td>
															<td>
																{% if vote_moderation.groupeAssocie is not null %}
																	<center>{{ vote_moderation.groupeAssocie }}</center>
																{% endif %}
																{% if vote_moderation.groupeAssocie is null %}
																	<center>Aucun</center>
																{% endif %}
															</td>
															<td>
																<center>{% if vote_moderation.etat is sameas(true) %} En cours {% endif %} {% if vote_moderation.etat is sameas(false) %} Terminé {% endif %}</center>
															</td>
															<td>
																<center>{{ votes_moderation_createurs[cpt] }}</center>
															</td>
															{% set cpt = cpt + 1 %}
														</a>
													</tr>
												{% endfor %}
											</table>
										{% endif %}
										{% if votes_moderation is null %}
											Aucun vote
										{% endif %}
									{% endif %}
									{% if votes_moderation is not defined %}
										Aucun vote
									{% endif %}
								  </div>
								  <h3>Désinscription</h3>
								   <div>
										<center>
											<form action="{{ path('votenmasse_votenmasse_supprimer_utilisateur') }}" method="post">
												Saisissez votre mot de passe : 
												<input type = "password" name = "mot_de_passe" /><br><br>
												
												<button class="btn btn-primary btn-mini" type="submit">Se désinscrire <i class="icon-white icon-ok-sign"></i></button>
											</form>
										</center>
								  </div>
								</div>
							</div>
						</td>
						<td>
							<div class="well">
								<b>Dernier vote créé</b><br><br>
								{% if deja_vote is not null %}
									<center>
										{% if deja_vote is sameas(false) %}
											{% if last_vote is not null %}
												<iframe name = "iframe" id = "iframe" src="vote/{{ last_vote.id }}" width="425" height="200" frameborder="1" scrolling="no">
												</iframe><br><br>
												<button onClick="location.replace('vote/{{ last_vote.id }}');" class="btn btn-primary btn-mini" type="submit">En savoir plus <i class="icon-white icon-ok-sign"></i> </button>
											{% endif %}
											{% if last_vote is null %}
												Aucun nouveau vote
											{% endif %}
										{% endif %}
										{% if deja_vote is sameas(true) %}
											Aucun nouveau vote
										{% endif %}
									</center>
								{% endif %}
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="well">
								<b>Les 3 derniers groupes créés</b><br><br>
								<div>
									{% if last_groupes is defined %}
										{% if last_groupes is not null %}
											<table style = "margin-left: 100px;">
												<tr>
													<td>
														<center><b>Type</b></center>
													</td>
													<td>
														<center><b>Nom</b></center>
													</td>
													<td>
														<center><b>Description</b></center>
													</td>
													<td>
														<center><b>Administrateur</b></center>
													</td>
												</tr>
												{% for groupe in last_groupes %}
													{% if groupe is not null %}
														<tr class = "liste_votes" onclick="document.location.href='groupe/{{ groupe.id }}'">
															<td>
																{% if groupe.etat is sameas('Groupe public') %}
																	<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
																{% endif %} 
																{% if groupe.etat is sameas('Groupe réservé aux inscrits') %}
																	<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
																{% endif %}
																{% if groupe.etat is sameas('Groupe privé') %}
																	<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
																{% endif %}
															</td>
															<td>
																<center>{{ groupe.nom }}</center>
															</td>
															<td>
																<center>{{ groupe.description }} </center>
															</td>
															<td>
																<center>{{ groupe.administrateur.login }}</center>
														</tr>
													{% endif %}
												{% endfor %}
											</table>
										{% endif %}
										{% if last_groupes is null %}
											Aucun groupe
										{% endif %}
									{% endif %}
									{% if last_groupes is not defined %}
										Aucun groupe
									{% endif %}
								</div>
							</div>
						</td>
					</tr>
				{% endif %}
			{% endif %}
			
			{% if invite is defined %}
				<td>
					<div class="well">
						<b>Dernier vote public créé</b><br><br>
						{% if last_vote is not null %}
							<center>
								{% if deja_vote is sameas(false) %}
									<iframe name = "iframe" id = "iframe" src="vote/{{ last_vote.id }}" width="425" height="200" frameborder="1" scrolling="no">
									</iframe><br><br>
									<button onClick="location.replace('vote/{{ last_vote.id }}');" class="btn btn-primary btn-mini" type="submit">En savoir plus <i class="icon-white icon-ok-sign"></i> </button>
								{% endif %}
								{% if deja_vote is sameas(true) %}
									Aucun nouveau vote
								{% endif %}
							</center>
						{% endif %}
						{% if last_vote is null %}
							<center>Pas de nouveau vote</center>
						{% endif %}
					</div>
				</td>
			{% endif %}
			
			
			{% if utilisateur is defined %}
				{% if utilisateur is null %}
					<td>
						<div class="well">
							<center>
								<h3 id = "titre_formulaire"><b>Formulaire d'inscription</b></h3>
								<form method="post" class="Inscription" {{ form_enctype(form) }}>
								{{ form_widget(form) }}
								<input type="submit" class="btn btn-primary" id="form_validatation" />
								</form>
							</center>
						</div>
					</td>
				{% endif %}
			{% endif %}
			{% if utilisateur is not defined %}
				<td>
					<div class="well">
						<center>
							<h3 id = "titre_formulaire"><b>Formulaire d'inscription</b></h3>
							<form method="post" class="Inscription" {{ form_enctype(form) }}>
							{{ form_widget(form) }}
							<input type="submit" class="btn btn-primary" id="form_validatation" />
							</form>
						</center>
					</div>
				</td>
			{% endif %}
		</tr>
		<tr>
			<td colspan = "2">
				<div class="well">
						<img src = "{{ asset('img/pub.png') }}" alt = "Public" /> Ce logo signifie que le vote ou le groupe est public (accessible à tous) <br>
						<img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /> Ce logo signifie que le vote ou le groupe est réservé aux inscrits <br>
						<img src = "{{ asset('img/pri.png') }}" alt = "Privé" /> Ce logo signifie que le vote ou le groupe est privé (vous devez être membre du groupe)
				</div>
			</td>
		</tr>
	</table>
	
	<script>	
		var myIframe = document.getElementById('iframe');
		myIframe.onload = function(){
			myIframe.contentWindow.scrollTo(250,300);
		};
	</script>

{% endblock %}