{% extends "VotenmasseVotenmasseBundle::layout.html.twig" %}

{% block title %}
 {{ parent() }} - Votes
{% endblock %}

{% block votenmasse_body %}

	<table class="table">
		<legend><b>Liste des votes</b></legend>
		<tr>
			<td>
				<div class="well">
					<center>
						<h4><b>Filtrer</b></h4><br>
						<form action="{{ path('votenmasse_votenmasse_votes') }}" method="post">
							Etat 
							<select style = "height:45px; margin-left:20px;" multiple name="etat[]">
								<option value = "en_cours">En cours</option>
								<option value = "termine">Terminé</option>
							</select><br><br>
							Type
							<select style = "height:65px; margin-left:15px;" multiple name="type[]">
								<option value = "public">Public</option>
								<option value = "réservé">Réservé aux inscrits</option>
								<option value = "privé">Privé</option>
							</select><br><br>
							<button class="btn btn-primary btn-mini" type="submit">Valider <i class="icon-white icon-ok-sign"></i> </button>
						</form>
					</center>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="well">
					{% if votes is defined %}
						{% if votes is not null %}
							<table>
								<tr>
									<td>
										<center><b>Type</b></center>
									</td>
									<td>
										<center><b>Nom</b></center>
									</td>
									<td>
										<center><b>Description</b></center>
									</td>
									<td>
										<center><b>Date de création</b></center>
									</td>
									<td>
										<center><b>Date de fin</b></center>
									</td>
									<td>
										<center><b>Groupe associé</b></center>
									</td>
									<td>
										<center><b>Etat</b></center>
									</td>
									<td>
										<center><b>Créateur</b></center>
									</td>
								</tr>
								{% set cpt = 0 %}
								{% for vote in votes %}
									<tr class = "liste_votes" onclick="document.location.href='../vote/{{ vote.id }}'">
											<td>
												{% if vote.type is sameas('Vote public') %}
													<center><img src = "{{ asset('img/pub.png') }}" alt = "Public" /></center>
												{% endif %} 
												{% if vote.type is sameas('Vote réservé aux inscrits') %}
													<center><img src = "{{ asset('img/rai.png') }}" alt = "Réservé aux inscrits" /></center>
												{% endif %}
												{% if vote.type is sameas('Vote privé') %}
													<center><img src = "{{ asset('img/pri.png') }}" alt = "Privé" /></center>
												{% endif %}
											</td>
											<td>
												<center>{{ vote.nom }}</center>
											</td>
											<td>
												<center>{{ vote.texte }} </center>
											</td>
											<td>
												<center>{{ vote.dateDeCreation|date("d/m/y") }}</center>
											</td>
											<td>
												<center>{{ vote.dateDeFin|date("d/m/y") }}</center>
											</td>
											<td>
												{% if vote.groupeAssocie is not null %}
													<center>{{ vote.groupeAssocie }}</center>
												{% endif %}
												{% if vote.groupeAssocie is null %}
													<center>Aucun</center>
												{% endif %}
											</td>
											<td>
												<center>{% if vote.etat is sameas(true) %} En cours {% endif %} {% if vote.etat is sameas(false) %} Terminé {% endif %}</center>
											</td>
											<td>
												<center>{{ vote_createurs[cpt] }}</center>
											</td>
											{% set cpt = cpt + 1 %}
										</a>
									</tr>
								{% endfor %}
							</table>
						{% endif %}
					{% endif %}
				</div>
			</td>
		</tr>
	</table>

{% endblock %}